{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<style>
    form {
        margin: 2%;
        border: 1px solid black;
        border-radius: 5px;
        width: 50%; 
        padding: 20px;
        background-color: #f9f9f9;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; /* Permet l'adaptation sur petits écrans */
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        max-height: 80vh;
    }

    .logo img {
        width: 100%; 
        height: auto;
        max-height: 80vh; 
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn {
        background-color: #ffcc00;
        border: 1px solid #ffcc00;
        font-weight: bold;
        padding: 10px 20px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #ffb400;
        border-color: #ffb400;
    }

    .main-container {
        margin: auto;
        text-align: center;
        padding: 20px;
    }

    .alert {
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column; /* Aligne les éléments verticalement sur petits écrans */
        }

        form {
            width: 90%; /* Ajuste la largeur du formulaire sur petits écrans */
        }

        .logo {
            width: 70%;
            margin-bottom: 20px;
        }
    }
</style>

<div class="main-container">
    <h1>Connectez-vous pour découvrir les meilleures offres</h1>

    <div class="container">
        <div class="logo">
            <img src="/assets/logo.png" alt="Logo de l'application">
        </div>

        <form method="POST" action="{{ path('app_login_clients') }}">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="email">Adresse mail</label>
                <input type="email" id="email" name="mail" required class="form-control">
            </div>
        
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="mdp" required class="form-control">
            </div>
        

            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    </div>
</div>
{% endblock %}